# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
data/

# testing
/coverage

# cache
/.mypy_cache
/.husky

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
FIRSTPRINCIPLES.md
.cursorrules
.prettierignore

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo

# next.js configs
next.config.js
next.config.cjs
!next.config.mjs

# old meta files
**/_meta.json